{
	email admin@brightsparklabs.com

	log {
		level {{ settings.forward_proxy.debug.proxy.log_level|lower }}
	}

	{% if settings.forward_proxy.services.proxy.enable_staging_ca %}
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	{% endif %}{# settings.forward_proxy.services.proxy.enable_staging_ca #}

	{% if settings.forward_proxy.services.proxy.enable_internal_tls %}
	local_certs
	{% endif %}{# settings.forward_proxy.services.proxy.enable_internal_tls #}

}


{% for route in settings.forward_proxy.routing.routes %}

https://{{ route.dns_record }} {
    reverse_proxy http://{{ route.endpoint }}
}

{% endfor %}
