---
# Homepage configuration
# See https://fontawesome.com/v5/search for icons options

# Optional: Use external configuration file.
# Using this will ignore remaining config in this file
# externalConfig: https://example.com/server-luci/config.yaml

title: "TODO - TEMPLATE OUT"
subtitle: "TODO - TEMPLATE OUT"
# documentTitle: "Welcome" # Customize the browser tab text
#logo: "assets/logo.png"
# Alternatively a fa icon can be provided:
# icon: "fas fa-skull-crossbones"

header: true # Set to false to hide the header
# Optional: Different hotkey for search, defaults to "/"
# hotkey:
#   search: "Shift"
footer: false # set false if you want to hide it.

columns: "3" # "auto" or number (must be a factor of 12: 1, 2, 3, 4, 6, 12)
connectivityCheck: true # whether you want to display a message when the apps are not accessible anymore (VPN disconnected for example).
                        # You should set it to true when using an authentication proxy, it also reloads the page when a redirection is detected when checking connectivity.

# Set the default layout and color scheme
defaults:
  layout: list # Either 'columns', or 'list'
  colorTheme: auto # One of 'auto', 'light', or 'dark'

# Optional theming
theme: default # 'default' or one of the themes available in 'src/assets/themes'.

# Optional navbar
# links: [] # Allows for navbar (dark mode, layout, and search) without any links
links:
  - name: "brightsparklabs.com"
    icon: "fas fa-book"
    url: "https://www.brightsparklabs.com"

# Services
# First level array represents a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
  - name: Comms
    icon: "fa-solid fa-comments"
    # A path to an image can also be provided. Note that icon take precedence if both icon and logo are set.
    # logo: "path/to/logo"
    items:
      - name: Chat
        icon: "fa-solid fa-comments"
        url: 'https://chat.google.com'
      - name: Email
        icon: "fa-solid fa-envelope"
        url: 'http://mail.brightsparklabs.com'
      - name: Calendar
        icon: "fa-solid fa-calendar"
        url: 'http://calendar.brightsparklabs.com'
      - name: Storage
        icon: "fa-brands fa-google-drive"
        url: 'http://storage.brightsparklabs.com'
  - name: Dev
    icon: "fas fa-code"
    items:
      - name: Private Code
        icon: "fa-brands fa-bitbucket"
        url: 'https://bitbucket.org/brightsparklabs'
      - name: Open Source Code
        icon: "fa-brands fa-github"
        url: 'https://github.com/brightsparklabs'
